// partial file, define your variables that'll be shared with component-level scss

$font-family: Montserrat, sans-serif;

// color palette
$primary-color: #50c878;
$secondary-color: #e98f4b;
$accent-color: #62c054;
$light-color: #f3efeb;
$dark-color: #544540;
$white: #ffffff;
$black: #000000;

// font weights
$font-weight-extra-light: 100;
$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
