@import '../../styles/index.scss';

.transaction-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: $light-color;
  height: 83px;
  @include BoxShadow(2);
  @media (max-width: 991px) {
    height: 130px;
    flex-direction: column;
  }

  &-date-select {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark-color;
    width: 25%;
    @media (max-width: 991px) {
      width: 100%;
    }

    svg {
      cursor: pointer;
    }

    h3 {
      font-weight: $font-weight-regular;
      margin: 0 40px;
    }
  }

  &-filter-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    @media (max-width: 991px) {
      width: 100%;
    }

    select {
      background: $white;
      width: 180px;
      height: 30px;
      padding: 0 10px;
      border-radius: 5px;
      margin: 0 10px;
      color: $dark-color;
      border: solid 1px $gray;
    }

    input {
      background: $white;
      width: 210px;
      height: 30px;
      padding: 0 10px;
      border-radius: 5px;
      margin: 0 10px;
      color: $dark-color;
      border: solid 1px $gray;
    }
  }

  &-total {
    display: flex;
    width: 40%;
    @media (max-width: 991px) {
      justify-content: center;
      width: 100%;
    }

    p {
      font-size: 14px;
    }

    h4 {
      font-size: 20px;
    }

    &-income {
      display: flex;
      flex-direction: column;
      color: $primary-color;
      margin: 0 20px;
    }

    &-expenses {
      display: flex;
      flex-direction: column;
      color: $secondary-color;
      margin: 0 20px;
    }
  }

  &-create-btn {
    @include BoxShadow(3);
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    color: $white;
    background-color: $secondary-color;
    right: 3rem;
    top: 3rem;
    border: solid $secondary-color;

    &:hover {
      background-color: darken($color: $secondary-color, $amount: 10);
      border-color: darken($color: $secondary-color, $amount: 10);
    }

    @media (max-width: 1024px) {
      position: fixed;
      top: 90%;
    }
  }
}
