@import '../../styles/index.scss';

.transaction-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: $light-color;
  height: 83px;
  @include BoxShadow(2);
  @media (max-width: 991px) {
    height: 130px;
    flex-direction: column;
  }

  &-date-select {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark-color;
    width: 25%;
    @media (max-width: 991px) {
      width: 100%;
    }

    svg {
      cursor: pointer;
    }

    h3 {
      font-weight: $font-weight-regular;
      margin: 0 40px;
    }
  }

  &-filter-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    @media (max-width: 991px) {
      width: 100%;
    }

    select {
      background: $white;
      width: 180px;
      height: 30px;
      padding: 0 10px;
      border-radius: 5px;
      margin: 0 10px;
      color: $dark-color;
    }

    input {
      background: $white;
      width: 210px;
      height: 30px;
      padding: 0 10px;
      border-radius: 5px;
      margin: 0 10px;
      color: $dark-color;
    }
  }

  &-total {
    display: flex;
    width: 40%;
    @media (max-width: 991px) {
      justify-content: center;
      width: 100%;
    }

    p {
      font-size: 14px;
    }

    h4 {
      font-size: 20px;
    }

    &-income {
      display: flex;
      flex-direction: column;
      color: $primary-color;
      margin: 0 20px;
    }

    &-expenses {
      display: flex;
      flex-direction: column;
      color: $secondary-color;
      margin: 0 20px;
    }
  }
}
