@import '../../styles/index.scss';

.transaction-list {
  display: grid;
  margin: 2.5rem 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(19.5rem, 1fr));
  grid-auto-rows: 20rem;
  grid-gap: 2rem;
  justify-items: center;
  height: 100vh;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}
