@import '../../styles/index.scss';

.transaction-page {
  background: white;
  height: 100vh;
  display: grid;
  grid-template-columns: 113px auto;
  grid-template-rows: 88px auto;

  Header {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  SideNav {
    grid-column: 1/2;
    grid-row: 1/3;
  }
}
