@import '../styles/index.scss';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $primary-color;
  padding: 0 60px;
  height: 88px;

  h3 {
    font-size: 32px;
    font-weight: $font-weight-regular;
    color: $light-color;
  }

  .header-right {
    display: flex;

    .header-total {
      display: flex;
      flex-direction: column;
      color: $white;

      h4 {
        font-size: 24px;
      }
    }
  }
}
