@import '../styles/index.scss';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $primary-color;
  padding: 0 60px;
  height: 88px;
  @media (max-width: 767px) {
    padding: 0 10px;
  }

  .header-left {
    display: flex;
    align-items: center;

    .burger-icon {
      cursor: pointer;
      color: $white;
      margin-right: 80px;
      @media (max-width: 767px) {
        margin-right: 10px;
      }
    }

    h3 {
      font-size: 32px;
      font-weight: $font-weight-regular;
      color: $light-color;
    }
  }

  .header-right {
    display: flex;

    &-wallet {
      align-self: center;
    }

    &-total {
      display: flex;
      flex-direction: column;
      color: $white;

      p {
        font-size: 14px;
      }

      h4 {
        font-size: 20px;
      }
    }
  }
}
