@import '../styles/index.scss';

.homepage {
  background: white;
  height: 100vh;
  display: grid;
  grid-template-columns: 113px auto;
  grid-template-rows: 88px 83px auto;

  Header {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  SideNav {
    grid-column: 1/2;
    grid-row: 1/4;
  }

  .transaction-page {
    grid-column: 2/3;
    grid-row: 2/4;
  }
}
