@import '../styles/index.scss';

.homepage {
  background: white;
  min-height: 100%;
  display: grid;
  grid-template-columns: 0 auto;
  grid-template-rows: 88px 83px auto;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    grid-template-rows: 88px minmax(135px, auto) 130px 1fr;
  }

  Header {
    grid-column: 2/3;
    grid-row: 1/2;

    @media (max-width: 1024px) {
      grid-column: 1/2;
    }
  }

  aside {
    grid-column: 1/2;
    grid-row: 1/4;

    @media (max-width: 1024px) {
      grid-column: 1/2;
      grid-row: 2/3;
    }
  }

  .transaction-page {
    grid-column: 2/3;
    grid-row: 2/4;

    @media (max-width: 1024px) {
      grid-column: 1/2;
    }
  }
}
