@import '../styles/index.scss';

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  width: 113px;
  @include BoxShadow(2);

  nav {
    .nav-item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
