@import '../../styles/index.scss';

html {
  background: linear-gradient(
    to bottom,
    $primary-color 410/1024 * 100%,
    $light-color 0%
  );
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: $white;
    font-size: 70px;
    font-weight: $font-weight-regular;
    text-align: center;
    margin-top: 114px;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 842px;
    height: 582px;
    margin-top: 49px;
    background: $white;
    border-radius: 20px;
    @include BoxShadow(2);

    h3 {
      color: $dark-color;
      font-size: 40px;
      font-weight: $font-weight-regular;
      text-align: center;
      margin-top: 44px;
    }

    .card-fields {
      display: flex;
      justify-content: center;
      margin-top: 30px;

      h5 {
        color: $dark-color;
        font-size: 20px;
        font-weight: $font-weight-regular;
        text-align: center;
      }

      .card-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        border-right: 1px solid $dark-color;

        button {
          font-size: $font-size;
          width: 300px;
          height: 40px;
          color: $white;
          border-radius: 5px;
        }

        .brand-icon {
          margin-right: 10px;
        }

        .google-btn {
          margin-top: 25px;
          border: 1px solid #fa5d5d;
          background-color: #fa5d5d;

          &:hover {
            background-color: darken($color: #fa5d5d, $amount: 10);
          }
        }

        .fb-btn {
          margin-top: 19px;
          border: 1px solid #1877f2;
          background-color: #1877f2;

          &:hover {
            background-color: darken($color: #1877f2, $amount: 10);
          }
        }
      }

      .card-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;

        input {
          width: 300px;
          height: 61px;
          margin-top: 20px;
          font-size: 20px;
          padding: 10px;
          border: 1px solid $dark-color;
          border-radius: 5px;
          color: $dark-color;

          &:focus {
            outline: none !important;
            border: 2px solid $secondary-color;
          }
        }

        .password-field {
          position: relative;
          margin-top: 20px;
          width: 300px;
          height: 61px;

          input {
            width: 100%;
            height: 100%;
            margin-top: 0;
          }

          .eye-icon {
            position: absolute;
            top: 40%;
            right: 5%;
            color: $dark-color;
            cursor: pointer;
          }
        }

        .accent {
          color: $accent-color;
          cursor: pointer;
        }

        .forgot {
          margin-top: 19px;
          margin-left: auto;
          margin-right: 32px;
        }

        button {
          margin-top: 33px;
          width: 300px;
          height: 40px;
          color: $white;
          background-color: $secondary-color;
          border: 1px solid $secondary-color;
          border-radius: 5px;
          font-size: 16px;

          &:hover {
            background-color: darken($color: $secondary-color, $amount: 10);
          }
        }

        .register {
          display: flex;
          margin-top: 20px;
          color: $dark-color;
        }
      }
    }
  }

  @media (max-width: 991px) {
    .card {
      width: 90%;
    }
  }

  @media (max-width: 767px) {
    .card {
      height: auto;

      .card-fields {
        flex-direction: column;
        align-items: center;

        .card-left {
          width: 100%;
          border: none;
        }

        .card-right {
          width: 95%;
          margin-top: 30px;
          margin-bottom: 20px;

          .accent {
            text-align: center;
          }

          .register {
            flex-direction: column;
            span {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
