@import '../../styles/index.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .card {
    display: flex;
    flex-direction: column;
    width: 842px;
    height: auto;
    padding-bottom: 40px;
    margin-top: 49px;
    background: $white;
    border-radius: 20px;
    @include BoxShadow(2);

    .auth-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      input {
        width: 300px;
        height: 61px;
        margin-top: 10px;
        font-size: 20px;
        padding: 10px;
        border: 1px solid $dark-color;
        border-radius: 5px;
        color: $dark-color;

        &:focus {
          outline: none !important;
          border: 2px solid $secondary-color;
        }
      }

      .password-field {
        position: relative;
        margin-top: 10px;
        width: 300px;
        height: 61px;

        input {
          width: 100%;
          height: 100%;
          margin-top: 0;
        }

        .eye-icon {
          position: absolute;
          top: 40%;
          right: 5%;
          color: $dark-color;
          cursor: pointer;
        }
      }

      .accent {
        cursor: pointer;
      }

      .forgot {
        margin-top: 19px;
        margin-left: auto;
        margin-right: 32px;

        a {
          text-decoration: none;
          color: $accent-color;
        }
      }

      button {
        margin-top: 33px;
        width: 300px;
        height: 40px;
        color: $white;
        background-color: $secondary-color;
        border: 1px solid $secondary-color;
        border-radius: 5px;
        font-size: 16px;

        &:hover {
          background-color: darken($color: $secondary-color, $amount: 10);
        }
      }
    }
  }

  @media (max-width: 991px) {
    .card {
      width: 90%;
    }
  }

  @media (max-width: 767px) {
    .card {
      height: auto;
    }
  }
}
