@import '../../styles/index.scss';

.reset-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: $white;
    font-size: 70px;
    font-weight: $font-weight-regular;
    text-align: center;
    margin-top: 114px;
  }

  .reset-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 842px;
    height: auto;
    padding: 40px;
    margin-top: 49px;
    background: $white;
    border-radius: 20px;
    @include BoxShadow(2);

    h3 {
      color: $dark-color;
      font-size: 40px;
      font-weight: $font-weight-regular;
      text-align: center;
    }

    .reset-form {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      input {
        width: 300px;
        height: 61px;
        font-size: 20px;
        padding: 10px;
        border: 1px solid $dark-color;
        border-radius: 5px;
        color: $dark-color;

        &:focus {
          outline: none !important;
          border: 2px solid $secondary-color;
        }
      }

      .password-field {
        position: relative;
        margin-top: 10px;
        width: 300px;
        height: 61px;

        input {
          width: 100%;
          height: 100%;
          margin-top: 0;
        }

        .eye-icon {
          position: absolute;
          top: 40%;
          right: 5%;
          color: $dark-color;
          cursor: pointer;
        }
      }

      button {
        margin-top: 10px;
        width: 300px;
        height: 40px;
        color: $white;
        background-color: $secondary-color;
        border: 1px solid $secondary-color;
        border-radius: 5px;
        font-size: 16px;

        &:hover {
          background-color: darken($color: $secondary-color, $amount: 10);
        }
      }
    }
  }

  @media (max-width: 991px) {
    .reset-card {
      width: 90%;
    }
  }

  @media (max-width: 767px) {
    .reset-card {
      height: auto;
    }
  }
}
